<nav class="navigation-menu">
  <ul class="navigation-menu__inner menu--desktop">
      {{ range $.Site.RegularPages.GroupBy "Section" }}
          <li>
            <ul class="menu">
                <li class="menu__trigger">{{ humanize .Key }} &nbsp;▾</li>
                <li>
                    <ul class="menu__dropdown">
                        {{ range .Pages.ByDate.Reverse }}
                         <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                        {{ end }}
                    </ul>
                  </li>
            </ul>
        </li>
        {{ end }}
    </ul>
</nav>