<ul class="menu menu--mobile">
    <li class="menu__trigger">Menu&nbsp;▾</li>
    <li>
      <ul class="menu__dropdown">
        <!--Group by Sections -->
        {{ range $.Site.RegularPages.GroupBy "Section" }}
            <li>
                <details open="open">
                    <summary>{{ humanize .Key }}</summary>
                    {{ range .Pages.ByDate.Reverse }}
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                    {{ end }}
                </details>
              <div>
          </li>
          {{ end }}
      </ul>
    </li>
  </ul>
  